:root {
  color-scheme: light dark;
  font: 16px/145% 'Noto Sans KR', 'Noto Sans', system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}
